@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  text-decoration: none;
}

body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-logo {
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.navbar {
  width: 100%;
  background: #3f3d56;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.column {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  margin: 0 15px;
}
.btn {
  font-size: 1.3rem;
  color: #fff;
  padding: 5px 10px;
}
.btn-secundary {
  border: 1px solid #fff;
  border-radius: 15px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.login-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 342px;
  height: 600px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 15px auto;
}

.login-page p {
  color: #3f3d56;
  font-size: 16px;
}

.card-item-name {
  font-size: 1.1rem;
  color: #3f3d56;
}

.login-page h2 {
  color: #3f3d56;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.login-form input {
  background: #f2f2f2;
  border-radius: 5px;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
}

.login-form button {
  width: 80%;
  background: #3ca767;
  color: white;
  width: 80%;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
}

#technical-analysis iframe{
  min-height: 800px;
}

.footer {
  margin-top: 10px;
  width: 100%;
  background: #3f3d56;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: static;
  bottom: 0;
}

.input-text {
  background: #f2f2f2;
  border-radius: 5px;
  width: 100%;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.1rem;
  border-radius: 10px;
}

.signin-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radiobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.role {
  display: flex;
  align-items: center;
  align-content: flex-start;
  width: 80%;
  margin: 5px;
  padding: 10px;
}
.radio-input {
  width: 50px;
}

.signin-page button {
  width: 80%;
  background: #3ca767;
  color: white;
  width: 80%;
  border: 0;
  margin: 15px 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
}

.social-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #dcdcdc;
}

.social-signin div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  outline: 0;
  width: 80%;
  border: 2px solid;
  border-color: #3f3d56;
  margin: 0 0 2px;
  margin-top: 8px;
  padding: 4px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
}
.social-signin div :nth-child(n) {
  margin: 0 10px;
}

.signin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 342px;
  height: 600px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 15px auto;
}

.signin-page p {
  color: #3f3d56;
  font-size: 16px;
}

.signin-page h3,
h1 {
  color: #3f3d56;
}

.footer-logo {
  margin-top: 10px;
  width: 40px;
}

.footer-social {
  color: #fff;
  font-size: 1.2rem;
}

.footer-copyright {
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
