@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  text-decoration: none;
}

body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 1.2rem;
  max-width: 400px;
  display: flex;
}

.hero-title {
  font-size: 1.7rem;
  margin: 5px;
  text-align: center;
}

.btn-primary {
  font-size: 1.1rem;
  background: #3ca767;
  color: #fff;
  padding: 10px 75px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 5px;
}

.btn-icon {
  height: 20px;
}

.btn-linked {
  font-size: 1.1rem;
  color: #6c63ff;
  margin-right: 5px;
  text-decoration: underline;
}

.index-ilustration {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-hero-index {
  text-align: center;
}

@media (min-width: 825px) {
  .img-index {
    width: 500px;
  }
}

textarea {
  border: 1px solid #6c63ff;
  color: #444083;
  border-radius: 5px;
  resize: none;
  font-family: Roboto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-logo {
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.navbar {
  width: 100%;
  background: #3f3d56;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  margin: 0 15px;
}

.btn {
  font-size: 1.3rem;
  color: #fff;
  padding: 5px 10px;
}

.btn-secundary {
  border: 1px solid #fff;
  border-radius: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-add-article {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  align-items: center;
  justify-content: center;
}

.form-add-article {
  width: 70%;
  max-width: 600px;
}

.find-form :nth-child(n) {
  height: 40px;
  margin: 5px;
}

.form-add-article :nth-child(n) {
  margin-top: 5px;
}

.btn-apply {
  font-size: 1.1rem;
  background: #00a713;
  color: #fff;
  padding: 5px 50px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

.btn-primary {
  font-size: 1.1rem;
  background: #00a713;
  color: #fff;
  padding: 10px 75px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}

.login-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 342px;
  height: 600px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 15px auto;
}

.login-page p {
  color: #3f3d56;
  font-size: 16px;
}

.card-item-name {
  font-size: 1.1rem;
  color: #3f3d56;
}

.login-page h2 {
  color: #3f3d56;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.login-form input {
  background: #f2f2f2;
  border-radius: 5px;
  width: 80%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
}

.login-form button {
  width: 80%;
  background: #3ca767;
  color: white;
  width: 80%;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
}

.market {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
}

#technical-analysis iframe {
  min-height: 800px;
  max-width: 80%;
}

#mySymbolInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#myCalendarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#widget-events-container {
  min-height: 1000px;
}

.input-text {
  background: #f2f2f2;
  width: 65%;
  border: 0;
  margin: 8px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.1rem;
  border-radius: 10px;
}

.signin-form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radiobox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.role {
  display: flex;
  align-items: center;
  align-content: flex-start;
  width: 80%;
  margin: 5px;
  padding: 10px;
}

.radio-input {
  width: 50px;
}

.signin-page button {
  width: 80%;
  background: #3ca767;
  color: white;
  margin-top: 5px;
  width: 80%;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
}

.social-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #dcdcdc;
}

.social-signin div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  outline: 0;
  width: 80%;
  border: 2px solid;
  border-color: #3f3d56;
  margin: 0 0 2px;
  margin-top: 8px;
  padding: 4px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 10px;
}

.social-signin div :nth-child(n) {
  margin: 0 10px;
}

.signin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 342px;
  height: 600px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 15px auto;
}

.signin-page p {
  color: #3f3d56;
  font-size: 16px;
}

.signin-page h3,
h1 {
  color: #3f3d56;
}

.footer {
  margin-top: 35px;
  width: 100%;
  background: #3f3d56;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: static;
  bottom: 0;
}

.footer-logo {
  margin-top: 10px;
  width: 40px;
}

.footer-social {
  color: #fff;
  font-size: 1.2rem;
}

.footer-copyright {
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.feed-title {
  margin: 110px;
}

.feed-image {
  width: 80px;
}

.feed-el {
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-bottom: 80px;
  font-size: 20px;
}

.feed-link {
  display: flex;
  align-items: center;
  margin-right: 60px;
  color: #3f3d56d2;
}

.feed-link img {
  margin-right: 15px;
}

.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-article {
  color: #3f3d56;
  /* font-size: 30px; */
  right: 30px;
  text-align: justify;
  margin: 70px;
  font-size: 30px;
}

.article-head {
  margin-top: 50px;
}

.article-box {
  display: flex;
  justify-content: center;
}

.article-box p {
  width: 800px;
  border: 1px solid #3f3d5652;
  padding: 50px;
  border-radius: 10px;
  line-height: 50px;
  text-align: justify;
  font-size: 20px;
}

.fork-button {
  height: 30px;
  color: white;
  background-color: rgb(16, 189, 16);
  border: 1px solid;
  font-size: 17px;
  border-radius: 5px;
}

.article-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.article-field {
  width: 800px;
  height: 1000px;
  border: 1px solid #3f3d5652;
  padding: 50px;
  border-radius: 10px;
  line-height: 50px;
  text-align: justify;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-new {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.new-title {
  width: 500px;
  border: 1px solid #3f3d5652;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding-left: 30px;
  margin-bottom: 15px;
}

.new-category {
  width: 150px;
  border: 1px solid #3f3d5652;
  margin-bottom: 15px;
  background-color: rgba(128, 128, 128, 0.144);
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.new-content {
  width: 800px;
  height: 1000px;
  border: 1px solid #3f3d5652;
  padding: 50px;
  border-radius: 10px;
  line-height: 50px;
  text-align: justify;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.new {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  height: 30px;
  width: 100px;
  color: white;
  background-color: rgb(16, 189, 16);
  border: 1px solid;
  font-size: 17px;
  border-radius: 5px;
}

.category {
  color: goldenrod;
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 30px;
}

.category-feed {
  color: goldenrod;
  font-weight: 100;
  font-size: 20px;
  margin-right: 15px;
}

.articleandcat {
  display: flex;
  align-items: center;
}

.category-fork {
  color: goldenrod;
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 300px;
}

.table-row td {
  border-top: 2px solid #3f3d5652;
  padding-top: 40px;
  padding-bottom: 40px;
}

.table {
  margin-left: 80px;
  margin-right: 80px;
}

.table-text {
  /* text-justify: newspaper; */
  padding: none;
  margin: none;
  line-height: 50px;
  font-size: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  width: 200px;
  margin-bottom: 35px;
}

.user-page {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-page td {
  border-top: 2px solid #3f3d5652;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: start;
}

.category-userpage {
  color: goldenrod;
  font-weight: 100;
  font-size: 20px;
  margin-right: 105px;
}

.btn-save {
  height: 30px;
  width: 50px;
  color: white;
  background-color: rgb(16, 189, 16);
  border: 1px solid;
  font-size: 17px;
  border-radius: 5px;
}

.article-container {
  margin-top: 50px;
  width: 640px;
  text-align: justify;
  font-size: 1.5em;
  line-height: 50px;
}

.tox tox-tinymce {
  background-color: black;
  /* width: 100%; */
  height: 300px;
}

.post {
  display: flex;
  width: 55%;
  margin: 50px auto;
  box-shadow: 0 5px 15px 0 #777;
}

.post-date {
  font-size: 13px;
  color: #bbb;
}

.post-title {
  font-size: 20px;
  margin-top: 6px;
}

.post-author {
  color: #555;
  font-size: 15px;
}

.post-excerpt {
  letter-spacing: 1px;
  line-height: 1.33;
  color: goldenrod;
}

.post-image {
  position: relative;
  flex: 0 0 40%;
  width: auto;
  padding: 6px;
  max-width: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.post-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px 30px;
  text-align: left;
}
